#  SEND email with attach file JPG, PDF and .ICS (Calendar event)

https://stackoverflow.com/questions/10147455/how-to-send-an-email-with-gmail-as-provider-using-python/27515833#27515833

### Tested OK

https://code.tutsplus.com/pt/tutorials/sending-emails-in-python-with-smtp--cms-29975
https://realpython.com/python-send-email/
https://www.programcreek.com/python/example/103416/email.mime.image.MIMEImage


To create .ics eventos: https://ical.marudot.com/

In [17]:
# pip install mimelib

import smtplib
import os
import numpy as np
from time import gmtime, strftime 
from email.mime.multipart import MIMEMultipart
from email.mime.image import MIMEImage
from email.mime.text import MIMEText
from email.mime.base import MIMEBase
from email.mime.application import MIMEApplication
from email import encoders

In [18]:
import pandas as pd

# File Exel
xls_file = 'data_to_send.xlsx'
print('-----  ENVIO DE EMAILS ------')
print('Lendo arquivo :', xls_file)

df = pd.read_excel(xls_file, sheet_name='Sheet1')

# print whole sheet data
df

-----  ENVIO DE EMAILS ------
Lendo arquivo : data_to_send.xlsx

,Cliente,Nome 1,Unnamed: 2,Nº doc.,Itm,Referência,Dt.Vencimento,Montante,Email,file_pdf,file_jpg,file_event
0,4112,ACO CEARENSE COMERCIAL LTDA,NaN,90549749,1,000190479-001,09.04.2016,37060.58,manuel.robalinho@acocearense.com.br,teste1.pdf,teste1.jpg,EVENTO_DO_ROBALINHO.ics
1,100003,IND COM DE FERROS BORTOLASO LTDA,NaN,90554973,1,000192232-001,15.04.2018,1001.60,manuel.robalinho@acocearense.com.br,teste2.pdf,teste2.jpg,EVENTO_DO_ROBALINHO.ics
2,100034,CHAPADAOFER IND E COM,NaN,90537461,2,000185879-001,23.01.2016,3995.84,mrobalinho@hotmail.com,teste2.pdf,NaN,NaN
3,100034,CHAPADAOFER IND E COM,NaN,90537461,3,000185879-001,22.02.2016,3995.96,mrobalinho@hotmail.com,NaN,NaN,NaN
4,100034,CHAPADAOFER IND E COM,NaN,90537462,1,000185880-001,24.12.2015,924.86,NaN,NaN,NaN,NaN
5,100034,CHAPADAOFER IND E COM,NaN,90537462,2,000185880-001,23.01.2016,924.86,NaN,NaN,NaN,NaN
6,100035,M 3 CONSTR LTDA,NaN,90553111,1,000078223-001,25.10.2016,60112.50,NaN,NaN,NaN,NaN
7,100045,PRIMACO COM DE FERRO,NaN,100547310,1,000177323-001,22.05.2018,439502.86,NaN,NaN,NaN,NaN
8,100047,VERDEACO COM DE,NaN,90510128,3,000177083-001,12.01.2016,2177.81,NaN,NaN,NaN,NaN
9,100047,VERDEACO COM DE,NaN,90523815,2,000181253-001,03.01.2016,13699.22,NaN,NaN,NaN,NaN
10,100047,VERDEACO COM DE,NaN,90523815,3,000181253-001,02.02.2016,13699.64,NaN,NaN,NaN,NaN
11,100047,VERDEACO COM DE,NaN,90523816,2,000181254-001,03.01.2016,2177.69,NaN,NaN,NaN,NaN
12,100047,VERDEACO COM DE,NaN,90523816,3,000181254-001,02.02.2016,2177.75,NaN,NaN,NaN,NaN
13,100048,RONDOFERRO COM DE,NaN,90498413,3,000173415-001,24.12.2015,19011.61,NaN,NaN,NaN,NaN
14,100048,RONDOFERRO COM DE,NaN,90524158,2,000181350-001,03.01.2016,8390.74,NaN,NaN,NaN,NaN
15,100048,RONDOFERRO COM DE,NaN,90524158,3,000181350-001,02.02.2016,8391.00,NaN,NaN,NaN,NaN
16,100053,LEO CONSTR LTDA EPP,NaN,90476020,3,000164846-001,23.11.2015,20692.30,NaN,NaN,NaN,NaN
17,100053,LEO CONSTR LTDA EPP,NaN,90492243,3,000171092-001,15.12.2015,2348.94,NaN,NaN,NaN,NaN
18,100053,LEO CONSTR LTDA EPP,NaN,90492244,3,000171093-001,15.12.2015,16541.28,NaN,NaN,NaN,NaN
19,100053,LEO CONSTR LTDA EPP,NaN,90492245,3,000171094-001,15.12.2015,4089.46,NaN,NaN,NaN,NaN

In [19]:
df.dtypes

Cliente            int64
Nome 1            object
Unnamed: 2       float64
Nº doc.            int64
Itm                int64
Referência        object
Dt.Vencimento     object
     Montante    float64
Email             object
file_pdf          object
file_jpg          object
file_event        object
dtype: object

In [20]:
df.columns = ['cliente', 'nome', 'zz', 'doc', 'item', 'referencia', 'vencimento', 'montante', 'email','file_pdf','file_jpg','file_event']

In [21]:
# Only rows with email
df2 = df.dropna(subset=['email']).copy()

In [22]:
df2.head()

,cliente,nome,zz,doc,item,referencia,vencimento,montante,email,file_pdf,file_jpg,file_event
0,4112,ACO CEARENSE COMERCIAL LTDA,NaN,90549749,1,000190479-001,09.04.2016,37060.58,manuel.robalinho@acocearense.com.br,teste1.pdf,teste1.jpg,EVENTO_DO_ROBALINHO.ics
1,100003,IND COM DE FERROS BORTOLASO LTDA,NaN,90554973,1,000192232-001,15.04.2018,1001.60,manuel.robalinho@acocearense.com.br,teste2.pdf,teste2.jpg,EVENTO_DO_ROBALINHO.ics
2,100034,CHAPADAOFER IND E COM,NaN,90537461,2,000185879-001,23.01.2016,3995.84,mrobalinho@hotmail.com,teste2.pdf,NaN,NaN
3,100034,CHAPADAOFER IND E COM,NaN,90537461,3,000185879-001,22.02.2016,3995.96,mrobalinho@hotmail.com,NaN,NaN,NaN

In [23]:
# for column
df2['file_pdf'].replace(np.nan, '', inplace=True)
df2['file_jpg'].replace(np.nan, '', inplace=True)
df2['file_event'].replace(np.nan, '', inplace=True)

In [24]:
df2.head()

,cliente,nome,zz,doc,item,referencia,vencimento,montante,email,file_pdf,file_jpg,file_event
0,4112,ACO CEARENSE COMERCIAL LTDA,NaN,90549749,1,000190479-001,09.04.2016,37060.58,manuel.robalinho@acocearense.com.br,teste1.pdf,teste1.jpg,EVENTO_DO_ROBALINHO.ics
1,100003,IND COM DE FERROS BORTOLASO LTDA,NaN,90554973,1,000192232-001,15.04.2018,1001.60,manuel.robalinho@acocearense.com.br,teste2.pdf,teste2.jpg,EVENTO_DO_ROBALINHO.ics
2,100034,CHAPADAOFER IND E COM,NaN,90537461,2,000185879-001,23.01.2016,3995.84,mrobalinho@hotmail.com,teste2.pdf,,
3,100034,CHAPADAOFER IND E COM,NaN,90537461,3,000185879-001,22.02.2016,3995.96,mrobalinho@hotmail.com,,,

In [25]:
df2.dtypes

cliente         int64
nome           object
zz            float64
doc             int64
item            int64
referencia     object
vencimento     object
montante      float64
email          object
file_pdf       object
file_jpg       object
file_event     object
dtype: object

In [26]:
# Send Email function
def send_email(fromaddr, toaddrs, msg):
    username = 'your@gmail.com'
    # a password é obtiga na configuração de segurança em 2 passos do google
    # ao definir password para acesso de APPs
    password = 'your'
    #....
    server = smtplib.SMTP_SSL("smtp.gmail.com",465)
    server.ehlo()
    server.login(username, password)
    server.sendmail(fromaddr, toaddrs, msg)
    server.close()
    print('4.Successfully sent the mail to :',toaddrs)

    return
#-------------------------------------------

In [33]:
# create message object instance
msg = MIMEMultipart()

def create_msg_email(nome, xdoc, xdata, xemail, xvalor, xfile_pdf, xfile_jpg, xfile_event):
    msg = MIMEMultipart()
    
    path = 'files_to_attach/'
    
    fromaddr = 'manuel.robalinho@gmail.com'
    toaddrs  = xemail
    print('2.Create msg :',nome, xdoc, xdata, xvalor)
    
    # Identificação do doc
    doc   = xdoc
    data  = xdata
    valor = xvalor
   
    # Image File
    if xfile_jpg is not '':
        image_file = path + xfile_jpg
        img_data = open(image_file, 'rb').read()
    
    # Pdf File
    file_pdf = ''
    if xfile_pdf is not '':
        file_pdf = path + xfile_pdf

    # Calendar Event file
    file_event = ''
    if xfile_event is not '':
        file_event = path + xfile_event
        
    #
    password = "your_password"
    msg['From'] = fromaddr
    msg['To']   = toaddrs
    msg['Subject'] = " Vencimento do documento:"+str(doc)+" em "+data+ "  Valor:"+str(valor)

    # Mensagem HTML
    message = "\r\n".join([
      "From: "+fromaddr+"<br>",
      "To: "+toaddrs+"<br>",
      "<br>",
      "<h3>Subject: "+msg['Subject']+"</h3>",
      "<br>",
      "Exmo Sr: <b>"+ nome +'</b>'+ "<br>",
      "Informamos que o documento <i>"+str(doc)+"</i> no valor de "+str(valor)+" ,vence em "+data+" .",
      "Agradecemos o pagamento atraves da conta bancaria ABCD.",
      "<br>",
      "<br>",
      "<br>",
      "Cumprimentos,<br>",
      "Grupo Aco Cearense.<br>" ,
      "<br>",  
      "Sent at:"+strftime("%Y-%m-%d %H:%M:%S", gmtime())  
      ])

    # add in the message body
    #text = MIMEText(message,'plain')
    text = MIMEText(message,'html')
    msg.attach(text)

    # attach image JPG to message body
    if xfile_jpg is not '':
        print('......Tem jpg :', image_file)
        image = MIMEImage(img_data, name=os.path.basename(image_file))
        msg.attach(image)

    # attach PDF to email - OK
    if xfile_pdf is not '': 
        print('......Tem pdf :', file_pdf)
        part = MIMEBase('application', "octet-stream")
        part.set_payload(open(file_pdf, "rb").read())
        encoders.encode_base64(part)
        part.add_header('Content-Disposition', "attachment; filename= %s" % file_pdf)
        msg.attach(part)

    # attach Event Calendar - OK
    if xfile_event is not '': 
        print('......Tem evento :', file_event)
        part = MIMEBase('text', 'calendar',method='REQUEST',name=file_event) #method ='REQUEST' only provide me the possibility of adding 1 event, not 5
        part.set_payload(open(file_event, "rb").read())
        encoders.encode_base64(part)
        part.add_header('Content-Disposition', "attachment; filename= %s" % xfile_event) 
        msg.attach(part)


    # Call function to send email
    print('3.Sent the mail to :', xemail)
    
    send_email(fromaddr, xemail, msg.as_string() )
    return

In [34]:
def executa_row(nome, doc, data, email, valor, file_pdf, file_jpg, file_event):
    print('1.Exec. Row: ', nome,  email)

    create_msg_email(nome, doc, data, email, valor, file_pdf, file_jpg, file_event)
    return

# teste
# executa_row('manuel SIlva', 'doc123', '13-6-2020', 'manuel.robalinho@hotmail.com', 20000.55, 'file_pdf', 'file_jpg', 'file_event' )

In [35]:
# Read each line from Dataframe
for index, row in df2.iterrows():
    print('...') 
    print('---> ', index+1)
    executa_row(row['nome'], row['doc'], row['vencimento'], row['email'], row['montante'], row['file_pdf'], row['file_jpg'] , row['file_event'])
    
print('--- Finished ----')

...
--->  1
1.Exec. Row:  ACO CEARENSE COMERCIAL LTDA manuel.robalinho@acocearense.com.br
2.Create msg : ACO CEARENSE COMERCIAL LTDA 90549749 09.04.2016 37060.58
......Tem jpg : files_to_attach/teste1.jpg
......Tem pdf : files_to_attach/teste1.pdf
......Tem evento : files_to_attach/EVENTO_DO_ROBALINHO.ics
3.Sent the mail to : manuel.robalinho@acocearense.com.br
4.Successfully sent the mail to : manuel.robalinho@acocearense.com.br
...
--->  2
1.Exec. Row:  IND COM DE FERROS BORTOLASO LTDA manuel.robalinho@acocearense.com.br
2.Create msg : IND COM DE FERROS BORTOLASO LTDA 90554973 15.04.2018 1001.6
......Tem jpg : files_to_attach/teste2.jpg
......Tem pdf : files_to_attach/teste2.pdf
......Tem evento : files_to_attach/EVENTO_DO_ROBALINHO.ics
3.Sent the mail to : manuel.robalinho@acocearense.com.br
4.Successfully sent the mail to : manuel.robalinho@acocearense.com.br
...
--->  3
1.Exec. Row:  CHAPADAOFER IND E COM mrobalinho@hotmail.com
2.Create msg : CHAPADAOFER IND E COM 90537461 23.01.2016 3995.84
......Tem pdf : files_to_attach/teste2.pdf
3.Sent the mail to : mrobalinho@hotmail.com
4.Successfully sent the mail to : mrobalinho@hotmail.com
...
--->  4
1.Exec. Row:  CHAPADAOFER IND E COM mrobalinho@hotmail.com
2.Create msg : CHAPADAOFER IND E COM 90537461 22.02.2016 3995.96
3.Sent the mail to : mrobalinho@hotmail.com
4.Successfully sent the mail to : mrobalinho@hotmail.com
--- Finished ----